.messages-list {
  & {
    overflow-y: scroll;

    border: 1px solid #adadad;
    border-left: none;
    border-right: none;

    margin-bottom: 10px;
    padding: 0 30px;

    flex: 1 0;
  }

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  &__message {
    word-break: break-all;
  }
}
