.room-list {
  & {
    width: 500px;
    margin: 30px auto;
    padding: 0px 0px 20px;
  }

  &__title {
    margin-bottom: 20px;

    text-align: center;
    font-size: 2rem;
  }

  &__list {
    margin: 10px;
  }

  &__list-item a {
    display: block;
    padding: 10px;
    border-bottom: none;
    cursor: pointer;
    
  }

  &__list-item + &__list-item {
    border-top: 1px solid rgb(197, 197, 197);
  }

  &__list-item:hover {
    text-decoration: underline;
  }

  &__loader {
    margin: 0 auto;
    width: 80px;
  }

  &__top-bar {
    background-color: #da4167;
    height: 40px;

    display: flex;
    align-items: center;
  }

  &__logout {
    background: none;
    color: #fff;

    font-size: 25px;

    border: none;
    margin-left: 10px;

    cursor: pointer;
    outline: none;
  }
}