.ui-button {
  & {
    border: none;
    border-radius: 5px;

    padding: 10px;
    width: 200px;

    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
    background-color: #083d77;
  }

  &:active {
    background-color: #da4167;
  }
}