.ui-field {
  & {
    margin: 10px 0;
    display: block;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  input {
    width: 300px;
    padding: 10px;

    border: 1px solid #dbdbdb;
    border-radius: 5px;

    font-size: 1rem;
  }

  input:focus {
    outline: none;
    border: 1px solid #da4167;
  }

  &__error-message {
    background-color: #da4167;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 5px 5px 0px 0px;

    position: relative;
    top: 5px;
  }
}
