.user-form {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 30px auto;
    padding: 30px;
    max-width: 500px;

    color: #1d1d1d;

    position: relative;
  }

  &__fields-container {
    margin: 0px auto 15px;
  }

  &__title {
    margin-bottom: 20px;

    text-align: center;
    font-size: 2rem;
  }

  &__link {
    text-align: center;
    margin: 10px 0 0;
  }
  
  &__errorMessage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: #da4167;
    color: #ffffff;
    padding: 5px;
    text-align: center;
  }

  &__submit {
    margin: 0 auto;
    text-align: center;
  }
}
